.about {
    border-radius: 20px;
}
  .main-w3layouts {
    padding: 7em 0 0;
  }
  h1 {
    letter-spacing: unset;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .about {
      width: 70%;
    }
  }