@media (max-width: 1400px) {
    .koin-work ul {
        width: 750px;
    }
}

@media (min-width: 1401px) {
    .iphone-2 {
        right: -121px;
    }
}

[type=email], [type=number], [type=tel], [type=url] {
    direction: rtl;
}
.skew-btn {
    transform: skewX(347deg);
}
.skew-text {
    transform: unset;
}
