@media (max-width: 1400px) {
    .iphone-2 {
        right: 15px;
    }
    .koin-work ul {
        width: 750px;
    }
}
@media (max-width: 1700px) {
    .iphone-2 {
        right: 120px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .center-tablet {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
  
    }
  }
[type=email], [type=number], [type=tel], [type=url] {
    direction: rtl;
}
.skew-btn {
    transform: skewX(347deg);
}
.skew-text {
    transform: unset;
}
.all-rights-text{font-size: 11px;}